@font-face {
   font-family: 'ROSEWOODSTD-REGULAR';
   font-display: swap;
   src: url('ROSEWOODSTD-REGULAR/font.OTF');
}
@font-face {
   font-family: 'ALGER';
   font-display: swap;
   src: url('ALGER/font.TTF');
}
@font-face {
   font-family: 'AGENCYR';
   font-display: swap;
   src: url('AGENCYR/font.TTF');
}
@font-face {
   font-family: 'MOD20';
   font-display: swap;
   src: url('MOD20/font.TTF');
}
@font-face {
   font-family: 'STENCIL';
   font-display: swap;
   src: url('STENCIL/font.TTF');
}
