@font-face {
   font-family: 'ROSEWOODSTD-REGULAR';
   src: url('ROSEWOODSTD-REGULAR/font.OTF');
}
@font-face {
   font-family: 'VINET';
   src: url('VINET/font.TTF');
}
@font-face {
   font-family: 'CHILLER';
   src: url('CHILLER/font.TTF');
}
@font-face {
   font-family: 'BGOTHL';
   src: url('BGOTHL/font.TTF');
}
